.reports-burger {
    background-color: rgba(255, 255, 255, 0.295);
    cursor: pointer;

    display: none;
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 10;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: background-color 200ms 600ms;
}
.reports-burger span {
    position: absolute;
    display: block;

    height: 2px;
    width: 100%;
    background-color: #000;
    transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1), 500ms background-color ease 400ms;
}
.reports-burger span:nth-child(1) {
    transform: translate3d(0, 15px, 0);
}
.reports-burger span:nth-child(2) {
    transform: translate3d(0, 30px, 0);
}
.reports-burger.active{
    background-color: rgba(0, 0, 0, 0.9);
}
.reports-burger.active span{
    background-color: #f0f8ff;
}
.reports-burger.active span:nth-child(1) {
    transform: translate3d(0, 25px, 0) rotate(45deg);
}
.reports-burger.active span:nth-child(2) {
    transform: translate3d(0, 25px, 0) rotate(-45deg);
}
.reports {
    padding: 70px 20px 30px;
    margin-right: 20px;

    width: 300px;
    overflow-y: auto;

    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #d90429 #fff;
}
.reports::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.reports::-webkit-scrollbar-thumb {
    background-color: #d90429;
}
.report-user {
    display: flex;
    flex-direction: column;
}
.report-user h2 {
    display: flex;
    align-items: center;

    text-align: left;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 50px;
}
.report-user h2 svg {
    margin-left: 10px;
}
.report-user .report-el {
    white-space: nowrap;
    color: #222632;
    padding: 7px 15px 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    font-weight: 500;
    font-size: 14px;
}

.report-user .report-el .report-bullet {
    display: inline-flex;
    color: #f0f8ff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50rem;
}
.report-user .report-el .report-bullet.lvl-01 {
    flex-shrink: 0;
    background-color: #ff4500;

    width: 25px;
    height: 25px;
}
.report-user .report-el .report-bullet p {
    display: flex;

    user-select: none;
    margin: auto;
}
.report-user .report-el .report-bullet.lvl-02 {
    background-color: #d90429;
}
.report-user .report-el .report-bullet.lvl-02 p {
    padding: 0 5px 0 10px;
    align-items: center;
    justify-content: center;
}
.report-user .report-el .report-bullet.lvl-02 p svg {
    margin-left: 6px;
}
@media (max-width: 800px) {
    .reports {
        width: 100%;
        max-width: 280px;
        z-index: 3;
        position: absolute;
        top: 0;
        left: -290px;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(8px);
        transition: 600ms left ease-in-out;
    }
    .reports-burger {
        display: block;
    }
    .reports-burger.active ~ .reports {
        left: 0;
    }
    .report-user h2 {
        color: #f0f8ff;
    }
    .report-user h2 svg {
        fill: #f0f8ff;
    }
    .report-user .report-el {
        color: #8f99ae;
    }
}
